.App {
    --header_height: 60px;
    padding: 50px;
}

.hw {
    margin-top: 20px;
    min-height: 40vh;
}

.hwTitle {
    margin-top: 39px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 1px;
}